.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project-info {
  padding: 1rem;
  border-radius: 16px;
}

.project-title {
  color: #4f46e5;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/* Description */
.project-description {
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 1.5rem;
  color: #d2d1d1;
}

.add-member-section {
  display: flex;
  gap: 10px;
  margin: 10px 0 16px 0;
  align-items: center;
}

.add-member-section input {
  flex: 1;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.add-member-section input:focus {
  border-color: #4f46e5; /* indigo */
  box-shadow: 0 0 0 1px rgba(79, 70, 229, 0.3);
}

.add-member-btn {
  padding: 8px 14px;
  background-color: #4f46e5;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-member-btn:hover {
  background-color: #4338ca;
}

.add-member-btn:active {
  transform: scale(0.97);
}

.members {
  color: #4f46e5;
}

.member-list {
  list-style: disc;
  padding: 0;
  margin: 0;
  width: 350px;
}

.member {
  padding: 8px 12px;
  margin-bottom: 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.member:hover {
  text-decoration: underline;
  cursor: pointer;
}

.project-notes {
  flex: 4;
  padding: 1rem;
  /* border-top: 1px solid #4f46e5; */
  overflow-y: auto;
}

.notes {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 per row */
  gap: 1rem;
}
.notes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes-title {
  color: #4f46e5;
  font-size: 1.05em;
  margin-bottom: 1em;
}
.note-card {
  border: 1px solid #fff;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 8px;
  background: #202020;
  cursor: pointer;
  transition: background 0.2s ease;
}

.note-card:hover {
  background: #a0bdf9;
}

@media (max-width: 900px) {
  .notes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .notes {
    grid-template-columns: 1fr;
  }
}

.add-note-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: #4f46e5;;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.add-note-btn:hover {
  background-color: #4338ca;
}

.note-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
}

.note-title-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.note-text {
  font-size: 14px;
  margin-bottom: 6px;
}

.note-date {
  font-size: 12px;
  color: #777;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #202020;
  padding: 1.5rem;
  width: 750px;
  
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.modal h3 {
  margin-bottom: 1rem;
}

.modal textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #191919;
  color: #fff;
  resize: none;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 10px;
}

.modal-actions .cancel {
  background: #ccc;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.modal-actions .add {
  background: #1976d2;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}